@import "partials/variables";
@import "partials/setup";
@import "partials/globals";
@import "partials/fixedHeader";
@import "partials/heroTitle";
@import "partials/subHero";
@import "partials/_graphQuote.scss";
@import "partials/recentCauses";
@import "partials/shame";
@import "partials/blogSection";
@import "partials/infoPanes";

section.getInTouch {

	background: url('../Assets/images/GoogleMapimage.jpg');
	background-size: cover;
	.overlay {
		background: rgba(255,255,255,0.8);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h2 {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	form {
		display: flex;
		.formLeft {
			display: flex;
			flex-direction: column;
			
		}
	}
}

.threeContactMethods {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	.contactMethod {
		width: 100%;
	}
}

