@import "partials/variables";
@import "partials/setup";
@import "partials/fixedHeader";
@import "partials/heroTitle";
@import "partials/subHero";
@import "partials/_graphQuote.scss";
.wrapper {
	max-width: 695px;
	margin: 0 auto;
}

.wrapperMax {
	max-width: 1400px;
	margin: 0 auto;
}

button {
	background: none;
	border: 1px solid white;
	padding: 10px 35px;
	font-size: 1.1rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $fontSkinny;
}

.blackBold {
	font-family: $fontThick;
	font-weight: bold;
}

.overlay {
	position: relative;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 60px 0;
	height: 100%;
}

.recentCauses {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recentCauses nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
