article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header.fixedHeader {
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  position: relative;
}

.navHamburger {
  position: relative;
}

.navHamburger ul {
  z-index: 900;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 50%;
  transition: left 0.5s ease-out;
  left: 0;
}

.navHamburger ul.hidden {
  left: -200px;
}

.navHamburger ul li {
  padding: 10px;
  background: white;
}

.navHamburger button {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px;
  color: #4B4B4B;
}

.logo {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  color: #4B4B4B;
  position: absolute;
  left: calc(50% - 3px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo span {
  font-weight: bold;
}

.logo .logoHeartImg {
  display: inline-block;
  background: white url("../Assets/logo.png") center center no-repeat;
  background-size: contain;
  width: 80px;
  height: 50px;
  vertical-align: middle;
}

.navSocials ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.navSocials ul li a {
  padding: 5px 10px;
}

.topOfPageHeader {
  height: calc(100vh - 91px);
  background: url("../Assets/images/header-big.jpg");
  background-size: cover;
  position: relative;
}

nav.navTopOfPageStatic {
  background: #323232;
}

nav.navTopOfPageStatic ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

nav.navTopOfPageStatic ul li {
  width: 100%;
  border-right: 1px solid #4c4c4c;
  padding: 5px 0;
}

nav.navTopOfPageStatic ul li:first-child {
  border-left: 1px solid #4c4c4c;
}

nav.navTopOfPageStatic ul p, nav.navTopOfPageStatic ul a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.heroTitle h2 {
  font-size: 5.5rem;
  text-transform: uppercase;
  line-height: 4.6rem;
  margin-top: 0;
}

.heroTitle h2 .whiteSkinny {
  font-weight: 200;
  font-family: "Raleway", sans-serif;
}

.heroTitle h2 .redBold {
  color: #D8382C;
}

.heroTitle p {
  font-size: 2rem;
  margin: 15px;
  font-family: "Raleway", sans-serif;
}

section.subHeaderBoxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.subHeaderBoxes .colouredBox {
  width: 33.333333%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  width: 100%;
  color: white;
  position: relative;
}

section.subHeaderBoxes .colouredBox h3 {
  font-size: 4.4rem;
  margin: 0;
}

section.subHeaderBoxes .colouredBox p {
  font-size: 1.7rem;
  padding: 0 90px;
}

section.subHeaderBoxes .colouredBox1 {
  background: url("../Assets/images/teaser01.jpg");
}

section.subHeaderBoxes .colouredBox1 .overlay {
  background: rgba(10, 36, 49, 0.9);
}

section.subHeaderBoxes .colouredBox2 {
  background: url("../Assets/images/teaser02.jpg");
}

section.subHeaderBoxes .colouredBox2 .overlay {
  background: rgba(21, 16, 20, 0.9);
}

section.subHeaderBoxes .colouredBox3 {
  background: url("../Assets/images/teaser03.jpg");
}

section.subHeaderBoxes .colouredBox3 .overlay {
  background: rgba(47, 11, 9, 0.9);
}

section.subHeaderBoxes .colouredBox1, section.subHeaderBoxes .colouredBox2, section.subHeaderBoxes .colouredBox3 {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
}

section.urgentCause {
  background: url("../Assets/images/bigger hands.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.urgentCause .overlay {
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section.urgentCause button {
  color: #4B4B4B;
  border: 1px solid #4B4B4B;
  font-size: 1rem;
  padding: 8px 10px;
}

.topGraph {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4B4B4B;
  font-weight: lighter;
  padding-top: 15px;
}

.topGraph img {
  max-width: 100%;
}

.topGraph h2 {
  width: 33.3333%;
  font-size: 4rem;
  font-weight: lighter;
  text-align: right;
  line-height: 3.8rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.topGraph ul {
  width: 33.3333%;
  list-style: none;
  padding: 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.topGraph p {
  font-size: 2rem;
  line-height: 1.8rem;
  text-transform: capitalize;
}

.topGraph .graph {
  width: calc(33.3333% - 40px);
  margin: 20px;
  position: relative;
}

.topGraph .graph .red {
  color: #D8382C;
}

.topGraph .graph .graphText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topGraph .graph .graphText p {
  margin: 0;
  text-align: center;
}

.topGraph .graph .graphText p:first-child {
  font-size: 6rem;
  position: relative;
}

.topGraph .graph .graphText p:last-child {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  top: 2rem;
}

.bottomQuote {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #4B4B4B;
  font-size: 1.6rem;
  margin-top: 60px;
}

.bottomQuote p {
  position: relative;
  width: 80%;
  margin: 0 auto;
  line-height: 3rem;
}

.bottomQuote i {
  color: #D8382C;
  position: absolute;
}

.bottomQuote i:first-child {
  left: -10px;
}

.bottomQuote i:last-child {
  right: -10px;
}

.bottomQuote cite {
  margin-top: 2rem;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 1rem;
  display: block;
}

.bottomQuote cite .red {
  color: red;
}

.wrapper {
  max-width: 695px;
  margin: 0 auto;
}

.wrapperBottomHalf {
  max-width: 850px;
  margin: 0 auto;
}

.wrapperMax {
  max-width: 1400px;
  margin: 0 auto;
}

button {
  background: none;
  border: 1px solid white;
  padding: 10px 35px;
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
}

.heading {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: lighter;
  color: #4B4B4B;
}

footer {
  position: relative;
}

.blackBold {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.bigRed {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 3.7rem;
  color: #D8382C;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 60px 0;
  height: 100%;
}

.recentCauses {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.recentCauses a, .recentCauses p {
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: grey;
  margin: 0;
}

.recentCauses nav {
  width: 140%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.recentCauses nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recentCauses nav ul li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.recentCauses nav ul li:first-child {
  width: 70%;
}

.recentCauses h2 {
  margin-top: 50px;
  font-size: 4.5rem;
  margin-bottom: 0;
}

.causePanels {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cause {
  width: calc(33.33333% - 20px);
  margin: 0 10px;
}

.cause figure {
  position: relative;
  overflow: hidden;
  height: 260px;
}

.cause figure img {
  min-height: 100%;
  max-width: 150%;
  position: relative;
  left: -30%;
}

.cause figure figcaption {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.cause3 figure img {
  max-width: 200%;
  left: -51%;
}

div.causeInfo {
  border: 1px solid lightgrey;
  text-align: center;
}

div.causeInfo p {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

div.causeInfo .money p.blackBold {
  margin-top: 0;
}

div.causeInfo p:first-child {
  margin: 20px 0 10px;
}

div.causeInfo button {
  color: grey;
  border-color: grey;
}

.money {
  position: relative;
  font-size: 2.5rem;
  width: 85%;
  margin: 0 auto;
}

.money .relativeSpan {
  position: relative;
}

.money p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: #464646;
}

.money .below {
  position: absolute;
  bottom: -10px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: normal;
  color: grey;
  font-weight: normal;
}

.money .below--left {
  left: 1.5rem;
}

.money .below--right {
  right: 1.7rem;
}

.money .moneyOf {
  font-family: "Georgia";
  font-style: italic;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 5px;
}
