
.blog {
	background: url('../Assets/images/small hands.jpg');
	background-size: cover;

	.overlay {
		background: linear-gradient(to right, rgba(72, 92, 101, 0.9) 0%, rgba(102, 74, 71, 0.9) 100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 70px 0;
		@media all and (max-width: 940px){
			padding: 10px 0 40px;
		}
	}
	h2 {
		color: white;
	}
	figcaption {
		display: flex;
		justify-content: space-around;
		p {
			width: 100%;
			margin: 0;
			padding: 10px;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.1rem;
			color: grey;
		}
		p:not(:last-child) {
			border-right: 1px solid lightgrey;
		}
		i {
			font-size: 1.4rem;
			color: $brandRed;
			margin-right: 6px;
		}
	}
}
.blogGallery {
	display: flex;
	justify-content: space-between;
	@media all and (max-width: 940px){
		flex-direction: column;
		align-items: center;
	}
}
.fourSmallImg {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media all and (max-width: 940px){
		width: 90%;
	}
}
.blogSmallImg {
	width: calc(50% - 10px);
	background: white;
	margin-bottom: 20px;
	img{
		max-width: 100%;
		min-height: 135px;
		display: block;
		@media all and (max-width: 940px){
			min-height: 248px;
		}
	}
	
}
.blogLargeImg {
	width: calc(50% - 20px);
	background: white;
	margin-bottom: 20px;
	@media all and (max-width: 940px){
		width: 90%;

	}
	figcaption {
		border-bottom: 1px solid lightgrey;
	}
	.figInfo {
		padding: 30px;
		padding-top: 0;
	}
	img{
		max-width: 100%;
	}
	h3 {
		font-family: $fontSkinny;
		color: black;
		font-weight: 300;
		font-size: 2rem;
		margin-bottom: 0;
	}
	p.red {
		text-transform: uppercase;
		color: $brandRed;
		margin-top: 5px;
	}
	p {
		font-size: 1.3rem;
		color: $softBlack;
		font-family: $fontSkinny;
		color: darkgrey;
	}
}
