section.threeInfoPanes {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	min-height: 318px;
	@media all and (max-width: 768px){
		flex-direction: column;
		align-items: center;
	}
}
.infoPane {
	width: calc(33.333333333% - 25px);
	text-align: center;
	@media all and (max-width: 768px){
		width: 98%;
		margin: 40px 0;
	}
	h2.heading {
		margin-top: 0;
		font-size: 2rem;
		text-transform: capitalize;
		text-align: left;
		@media all and (max-width: 768px){
			text-align: center;
		}
		.blackBold {
			font-family: $fontSkinny;
			font-weight: 800;
		}
	}
	button{
		color: grey;
		border-color: grey;
		width: 100%;
	}
}
.infoPane1 {
	text-align: left;
	@media all and (max-width: 768px){
		p.listPreamble {
			text-align: center;
		}
	}
	ul {
		list-style-type: circle;
		list-style: none;
		padding: 0 25px;
		@media all and (max-width: 768px){
			max-width: 400px;
			margin: 40px auto;
		}
	}
	li {
		position: relative;
		border-top: 1px solid lightgrey;
		&:last-child {
		border-bottom: 1px solid lightgrey;
		}
	}
	li::before {
		font-family: Fontawesome;
		content: "\f10c";
		color: $brandRed; 
		position: absolute;
		left: -20px;
		top: 35%;
		font-size: 1rem;
	}
	li p {
		margin: 5px 0;
		color: grey;
	}
}
.infoPane2 {
	ul {
		padding: 0;
		list-style: none;
	}
	button {
		position: relative;
		padding: 8px 0px 8px 15px;
		text-align: left;
		font-size: 1rem;
		margin: 5px 0;
		@media all and (max-width: 768px){
			max-width: 400px;
		}
		.accordianIcon {
			background: $brandRed;
			position: absolute;
			color: white;
			right: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			padding: 6px 0;
			font-size: 1.1rem;
			text-align: center;
			i {
				display: block;
				transition: transform 0.5s;
			}
		}
	}
}
.infoPane p {
	text-align: left;
	font-size: 1.5rem;
	color: darken(lightgrey, 20);
	font-family: $fontThick;
}
.accordianItem p{
	display: none;
	@media all and (max-width: 768px){
		max-width: 400px;
		margin: 0 auto;
	}
}
.accordianItem p.active {
	display: block;
}
.infoPane3 {
	background: url("../Assets/images/banner.jpg");
	background-size: cover;
	@media all and (max-width: 768px){
		width: 68%;
		margin:10px 0;
	}
	.overlay {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 40px;
	background: linear-gradient(to right, rgba(72, 92, 101, 0.6) 0%, rgba(102, 74, 71, 0.6) 100%);
	}
	h2 {
		color: white;
		font-family: $fontSkinny;
		font-size: 3rem;
		text-transform: uppercase;
		line-height: 2.8rem;
		.red {
			color: $brandRed;
		}
		@media all and (max-width: 768px){
			margin-top: 300px;	
		}
	}
	button {
		width: 50%;
		color: white;
		border-color: white;
		align-self: center;
	}
}