.recentCauses {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media all and (max-width: 768px){
		display: block;
	}
}
.recentCauses a, .recentCauses p {
	letter-spacing: 2px;
	font-family: $fontSkinny;
	text-decoration: none;
	color: grey;
	margin: 0;
	}

.recentCauses nav {
	width: 140%;
	margin-top: 5px;
	margin-bottom: 30px;
	@media all and (max-width: 768px){
		width: 100%;
	}
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		li {
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			&:first-child {
				width: 70%;
			}
		}
	}
}
.recentCauses h2 {
	margin-top: 50px;
	font-size: 4.5rem;
	margin-bottom: 0;
	@media all and (max-width: 768px){
		text-align: center;
	}
}
.causePanels {
	display: flex;
	@media all and (max-width: 768px){
		display: block;
		&:after {
			content: 'flickity';
			display: none; /* hide :after */
		}
		.flickity-prev-next-button  {
			background: none;
			&:hover {
				background: none;
			}
			.arrow{
				fill: lightgrey;
				&:hover {
					fill: white;
				}
			}
		}
	}
}
.cause {
	width: calc(33.33333% - 20px);
	margin: 0 10px;
	@media all and (max-width: 768px){
		width: 100%;
		max-width: 400px;
	}
	figure{
		position: relative;
		overflow: hidden;
		height: 260px;
		 img {
			min-height: 100%;
			max-width: 150%;
			position: relative;
			left: -30%;
		}
		figcaption {
			position: absolute;
			bottom: 10%;
			color: white;
			font-size: 2rem;
			font-weight: bold;
			width: 100%;
			text-align: center;
			font-family: $fontThick;
		}
	}
}
.cause3 figure img{
	max-width: 200%;
	left: -51%;
}

div.causeInfo {
	border: 1px solid lighten(lightgrey, 10);
	border-top: none ;
	text-align: center;
	background-image: url("../Assets/bar.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;

	p {
		letter-spacing: 1px;
		font-size: 1.2rem;
	}
	.money p.blackBold {
		margin-top: 0;
		font-size: 2.5rem;

	}
	p:first-child {
		padding: 20px 0 10px;
	}
	button {
		color: grey;
		border-color: grey;
		margin-top: 20px;
		@media all and (max-width: 768px){
			margin-bottom: 15px;
		}
	}
}
.money {
	position: relative;
	width: 85%;
	margin: 0 auto;
	.relativeSpan {
		position: relative;
	}
	p {
		font-family: $fontThick;
		letter-spacing: 1px;
		color: darken($softBlack, 2);
	}
	.below {
		position: absolute;
		bottom: -10px;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: normal;
		color:grey;
		font-weight: normal;
	}
	.below--left {
		left: 1rem;
	}
	.below--right {
		right: 1.7rem;
	}
	.moneyOf {
		font-family: "Georgia";
		font-style: italic;
		font-size: 1.5rem;
		font-weight: normal;
		margin: 0 5px;
		position: relative;
		&:after {
			content: '';
			width: 40px;
			border-bottom: 1px solid lighten(lightgrey, 10);
			position: absolute;
			top: 60%;
			left: 65%;
			transform: translate(-50%, -50%) rotate(-70deg);

		}
	}

}
