$brandRed: #D8382C;
$brandBlue: #339ED4;
$brandMixed: #866b80;
$footerGrey: #323232;
$softBlack: #4B4B4B;
$fontSkinny: 'Raleway', sans-serif;
$fontThick: 'Open Sans', sans-serif;
$fontSerif: 'Georgia', serif;